<style type="text/css">
#watch-plan-participant-portal-video{ position: absolute; left: 539px; top: 187px; width: 156px; height: 40px; }
#free-retirement-check-up{ position: absolute; left: 103px; top: 199px; width: 157px; height: 20px; }
#lets-go{ position: absolute; left: 36px; top: 272px; width: 143px; height: 53px; }

#e-money-log-in{ position: absolute; left: 6.99993896484375px; top: 119px; width: 111.5px; height: 27.5px; }
#e-money-security{ position: absolute; left: 9px; top: 223px; width: 111.5px; height: 27.5px; }
#e-money-test-drive{ position: absolute; left: 7px; top: 184px; width: 111.5px; height: 27.5px; }
#e-money-register{ position: absolute; left: 7px; top: 152px; width: 111.5px; height: 27.5px; }
#e-money-test-drive{ position: absolute; left: 7px; top: 187px; width: 111.5px; height: 27.5px; }

#view-triple-play-directory{ position: absolute; left: 167px; top: 171px; width: 129px; height: 23px; }

#general-advertisement{ position: absolute; left: 4px; top: 9px; width: 285.5px; height: 185.5px; }

#resource-center-featured-content{ position: absolute; left: 149px; top: 94.2667236328125px; width: 148.5px; height: 40.5px; }
#resource-center-access-all{ position: absolute; left: 150px; top: 165.2667236328125px; width: 147.5px; height: 40.5px; }

#plan-participants{ position: absolute; left: 521px; top: 20px; width: 106px; height: 20px; }
#plan-sponsors{ position: absolute; left: 688px; top: 20px; width: 106px; height: 20px; }
#plan-service-providers{ position: absolute; left: 851px; top: 20px; width: 152px; height: 22px; }

#my401k-register{ position: absolute; left: 8px; top: 256px; width: 102px; height: 20px; }
#my401k-log-in{ position: absolute; left: 10px; top: 166px; width: 156px; height: 75px; }
#my401k-help{ position: absolute; left: -582px; top: 180px; width: 37px; height: 21px; }
</style>



<div class="columns">
  <div class="col col_1">
    <ul class="hotspot-enabled" data-title="free-retirement-check-up-launcher" data-coming-soon="true">
      <%= image_tag "/assets/mock/are-you-on-track-video.png" %>
      <li data-id="lets-go" data-mode="active" data-dark-border="true">
        <%= enter_my401k_plan_portal_path %>
      </li>
      <li data-id="free-retirement-check-up" data-mode="active" data-dark-border="true">
        <%= free_retirement_checkup_path %>
      </li>
      <li data-id="watch-plan-participant-portal-video" data-mode="active" data-dark-border="true">
        <%= watch_plan_participant_portal_video_path %>
        </li>
    </ul>
    
    <ul class="hotspot-enabled" data-title="my-401k" data-coming-soon="false">
      <%= image_tag "/assets/mock/my-401k.png" %>
      <li data-id="my401k-log-in" data-mode="active" data-dark-border="false">
        <%= become_a_premium_member_path %>
      </li>
      <li data-id="my401k-register" data-mode="active" data-dark-border="false">
        <%= register_for_my401k_plan_portal_path %>
      </li>
      <li data-id="my401k-help" data-mode="active" data-dark-border="false">
        <%= my401k_help_path %>
        </li>
    </ul>
    
    <ul class="hotspot-enabled" data-title="e-money">
      <%= image_tag "/assets/mock/e-money.png" %>
      <li data-id="e-money-log-in" data-mode="active" data-dark-border="true">
        <%= enter_e_money_portal_path %>
      </li>
      <li data-id="e-money-register" data-mode="active" data-dark-border="true">
        <%= better_organize_your_financial_life_path %>
      </li>
      <li data-id="e-money-test-drive" data-mode="active" data-dark-border="true">
        <%= better_organize_your_financial_life_test_drive_path %>
      </li>
      <li data-id="e-money-security" data-mode="active" data-dark-border="true">
        <%= better_organize_your_financial_life_security_path %>
      </li>
    </ul>

  </div>

  <div class="col col_2">

    <%#= image_tag "/assets/mock/triple-play.png", class: "hotspot-enabled", "data-title" => "triple-play", "data-path" => view_triple_play_directory_path, "data-id" => "view-triple-play-directory", "data-mode" => "active", "data-dark-border" => "false" %>

    <ul class="hotspot-enabled" data-image="/assets/mock/triple-play.png" data-title="triple-play" data-coming-soon="true">
      <li data-id="view-triple-play-directory" data-mode="active" data-dark-border="false">
        <%= view_triple_play_directory_path %>
      </li>
    </ul>

    <ul class="hotspot-enabled" data-title="advertisement">
      <%= image_tag "/assets/mock/advertisement.png" %>
      <li data-id="general-advertisement" data-mode="active" data-dark-border="true">
        <%= general_advertisement_path %>
      </li>
    </ul>

    <ul class="hotspot-enabled" data-title="resource-center" data-coming-soon="true">
      <%= image_tag "/assets/mock/resource-center.png" %>
      <li data-id="resource-center-featured-content" data-mode="active" data-dark-border="false">
        <%= resource_center_welcome_path %>
      </li>
      <li data-id="resource-center-access-all" data-mode="active" data-dark-border="false">
        <%= resource_center_content_path %>
      </li>
      <li data-id="my401k-help" data-mode="active" data-dark-border="false">
        <%= my401k_help_path %>
      </li>
    </ul>

  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $(".ribbon.editable").draggable({
      stop: function(e, ui){
        var target_name = $(e.target).attr("id");
        var target_width = $(e.target).width();
        var target_height = $(e.target).height();

        console.log("#" + target_name + "{ position: absolute; left: " + ui.position.left + "px; top: " + ui.position.top + "px; width: " + target_width + "px; height: " + target_height + "px; }");
      }
    });
  });
</script>
